<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_field :name, :placeholder => "*Your name", autocomplete: "off", :class => "form-control form-round-field", required: true%>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.email_field :email, :placeholder => "*Your email", :class => "form-control form-round-field", autofocus: true %>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.password_field :password, :placeholder => "*Password", autocomplete: "off", :class => "form-control form-round-field"%>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.password_field :password_confirmation, :placeholder => "*Re-Enter Password", autocomplete: "off", :class => "form-control form-round-field"%>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-lg-12 city">
      <%= f.select :role, Role::ROLES.each { |r| [r.capitalize, r]},{}, {class: 'form-control form-round-field'} %>
    </div>
  </div><br>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.submit "Create an Account", class: "btn btn-primary"%>
    </div>
  </div>
<% end %><br>
<%= render "devise/shared/links" %>
